* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#scores{
  color: brown;
  margin-left: 17.5%;
  width: 300px; /* Ajustez la largeur selon vos besoins */
  padding: 20px;
  font-size: x-large
}
  
#boutonDiv
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#boutonRestart
{
  margin-right: 300px;
  margin-top: 100px;
  height: 100px;
  width: 100px;
}

header{
    background-color: orange;
    display: flex;
    justify-content: center;
}

header h1{
    margin: 13px;
}

  #body {
    height: 100vh;
    display: flex;
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }